body {
  background-color: #dddddd;
  font-family: courier;
}

button, input {
  font-family: courier;
  text-align: center;
}

.board {
  cursor: pointer;
  width: 90%;
  height: 60vh;
}

h1 {
  color: #F8F8F8;
  background-color: #A1B56C;
  text-align: center;
}

button {
  font-size: 100%;
  background-color: #A16946;
  color: #F8F8F8;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888888;
}

.number {
  text-align: right;
}

input {
    text-align: center;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #A1B56C;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.main {
  margin-right: 100px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}